.container {
  max-width: 80vw !important;
}

.dropdown-toggle {
  font-size: 2rem !important;
  width: 33vw !important;
}

.dropdown-menu {
  background-color: #999999 !important;
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 50vh;
  width: min-content !important;
}

.dropdown-menu.type {
  overflow-y: hidden;
}

.form-check.dropdownform {
  color: rgb(85, 22, 222);
}

.form-check-label.radiolabel {
  font-size: 1rem;
  color: white;
}

.form-check.radio {
  display: flex !important;
  align-items: center;
}

.dropdown-menu li {
  background-color: #999999 !important;
}

.bottomButton {
  margin: auto;
  margin-top: 5vh;
  width: 99vw;
}

.input-group-text {
  font-size: 0.8rem !important;
}

.form-control {
  font-size: 0.8rem !important;
  min-width: 15% !important;
}

.input-group {
  display: flex;
  align-items: center;
}

.btn {
  white-space: normal !important;
  overflow-wrap: break-word !important;
}

.top5 {
  margin-top: 2vh !important;
}

.infotext {
  color: white;
  font-size: 1.8rem;
  text-align: center;
  margin-left: 2%;
  margin-right: 2%;
}
