.outputspecialtext {
  color: #fff176 !important;
  font-size: 3rem !important;
  margin-left: 6%;
}

.subtitle {
  color: white;
  font-size: 2rem;
}

.outputspecialtext a {
  text-decoration: none !important;
  color: inherit !important;
}

.card-img-top {
  width: auto !important;
  height: 50vh !important;
}

.card {
  flex-direction: row !important;
  background-color: #444444 !important;
  margin-left: 2%;
  margin-right: 2%;
}

li {
  background-color: #444444 !important;
  color: white !important;
  font-size: 0.9rem;
  margin-left: 5%;
}

li strong {
  color: #fff176 !important;
  font-size: 0.9rem;
}
